
html {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: rgb(0, 20, 50);
	margin: 0;
	padding: 0;
}

	body>img {
		/* position:fixed; */
		margin: 0;
		width: 100%;
		height: 100%;
		/* opacity: 50%; */
	}

/* Testi */
h1 {
	margin-top: 1vh;
	margin-left: 5vh;
	margin-right: 15vh;
	width: fit-content;
	height: fit-content;
	font-size: 30px;
	color: rgb(255,255,255);
}

h2{
	font-size: 30px;
	color: rgb(255, 255, 255);
}

p {
	font-size: 30px;
	color: rgb(255, 255, 255);
	margin-top: 40px;
	margin-bottom: 20px;
}

.p2 {
	font-size: 18px;
	color: rgb(255, 255, 255);
	margin: 15px 0 15px 0;
}

p>a {
	margin: 15px 0 15px 0;
}

.btn {
	border: none;
	font-size: 18px;
	color: rgb(255, 255, 255);
	background-color: rgb(60, 60, 150);
	border-radius: 20px;
	padding: 10px;
	margin: 0 10px 20px 0;
	cursor: pointer;
}

	.btn:hover {
		background-color: rgb(100,100,255);
	}

	.btn:focus {
		background-color: rgb(100,100,255);
	}

.show {
	display: block;
  }

/* Contenuto */
.container {
	min-height: 80vh;
	top: 20vh;
	padding: 20px;
	position: relative;
	display: block;
}

	.container>a {
		font-size: 18px;
		text-decoration: none;
		color: rgb(100,100,255);
		margin: 15px 0 15px 0;
	}

	.container>img {
		max-height: 400px;
		transition: transform .2s;
		margin: 10px 10px 0px 0px;
	}

		.container>img:active {
			transform: scale(1.5)
		}

	.container>p>a {
		color: rgb(100,100,255);
		text-decoration: none;
		margin: 15px 0 15px 0;
	}

/* Header */
.header {
	/* background-color: rgb(0, 20, 50); */
	background-image: linear-gradient(180deg, rgb(0, 20, 50),rgba(0, 20, 50, 0));
	top: 0;
	width: 100%;
	padding: 20px;
	position: fixed;
	display: flex;
}

		.header>a>img {
			max-width: 50px;
		}

/* Footer */
.footer {
	background:none;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 20px;
	position: fixed;
	text-align: right;
}

	.footer>a {
		font-size: 18px;
		color: rgb(255,255,255);
		right: 20px;
	}

/* Menu Dropdown */
.menuPulsante {
	right: 20px;
	background: none;
	border: none;
	width: fit-content;
	height: fit-content;
	position: fixed;
}

	.menuPulsante>p {
		margin-top: 10px;
		margin-bottom: 10px;
		height: 4px;
		width: 40px;
		background-color: rgb(255,255,255);
	}

.menuVoci {
	background-color: rgb(100,100,255);
	right: 0;
	top: 0;
	height: 100%;
	padding: 50px;
	width: fit-content;
	position: fixed;
	display: none;
}

		.menuVoci>button>p {
			margin-top: 10px;
			margin-bottom: 10px;
			height: 4px;
			width: 40px;
			transform:rotate(45deg);
			background-color: rgb(255,255,255);
		}

	.menuVoci>a {
		color: rgb(255,255,255);
		font-size: 30px;
		font-display: block;
		text-decoration: none;
	}

/* Cards Home Page */
.cards {
	display:flex;
	flex-wrap: wrap;
}

.card {
	border-radius: 10px;
	background-color: rgb(60, 60, 150);
	width: 400px;
	height:fit-content;
	margin-bottom: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: rgb(60, 60, 150);
	display: none;
  }

	.card:hover {
		background-color: rgb(100,100,255);
	}

	.containerCard {
		border-radius:  0 0 10px 10px;
		padding: 2px 16px;
		background: none;
	}

	.card>img {
		max-width: 400px;
		border-radius: 10px 10px 0 0;
	}

/* Immagine autoritratto */
.cartoon {
	right: 20vh;
	bottom: 0;
	position: fixed;
	padding: 0;
}

	.cartoon>img {
		max-width: 600px;
	}

.show {display: block;}


/* Responsive versione mobile */
@media only screen and (max-width: 600px) {
	.cartoon {
		display: none;
	}

	h1 {
		font-size: 20px;
		margin-top: 2vh;
	}

	.menuVoci {
		width: 100%;
		left: 0;
	}

	.container>img {
		max-width: 300px;
	}

	.container>a {
		font-size: 20px;
	}

	.cards {
		display:grid;
	}

	.card {
		max-width: 300px;
	}

	.card>img {
		max-height: 300px;
		max-width: 300px;
	}

	.column {
		float: left;
		width: 50px;
		padding: 0 5px 5px 0;
	}

	#expandedImg {
		max-width: 500px;
		max-height: 500px;
	}

  }